.nav-main{
    margin-left: 75%;
}
.search-main{
    margin-left: 30px;
}

.center-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top:20vw;
}

.section-header{
    margin-top:50px;
    margin-left: 50px;
}

.Main-header{
    font-family: cursive;
    color:#9d9d9d;
}

.top-images{
    height:500px;
}

.carousel-main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.left-section-carousel{
    height:500px;
    width:400px;
    background-color: #eee;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}


.card-container{
    display:flex;
    flex-direction:row;
}

.card-main{
    margin-left: 7%;
    margin-top: 3%;
}

.adding-card-color{
    background-color: #eee;
    text-align: center;
}