{%  extends "Art/base.html" %}
{% load static %}
{% load django_template_maths %}

{% block content %}

    <div class = "section-header">
        <h2 id = "AllArt">{{ object.title }}</h2>
    </div>

    <div style ="display:flex;justify-content: center">
        <img src="{{ object.image.url }}" class="img-fluid" alt="Responsive image">
        <div class="card" style = "min-width: 25%">
          <div class="card-body" style = "text-align: center;margin-top:25%">
            <h5 class="card-title">{{ object.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">${{ object.Price}}</h6>
            <p class="card-text">{{object.description}}</p>
            <a href="{% url 'artwork-detail' object.id %}" class="card-link">Buy</a>
            <a href= "mailto:{{ object.creator_email }}" class="card-link">Creator's e-mail</a>
          </div>
        </div>
    </div>
{% endblock content %}