{%  extends "Art/base.html" %}
{% load static %}


{% block content %}
    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-main" data-ride="carousel">
        <div class = "left-section-carousel"></div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 top-images" src={% static '/Art/Assets/Carasoul/LoL.jpg' %} alt="No Man's Sky" >
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 top-images" src={% static '/Art/Assets/Carasoul/LegendOfZelda.jpg' %} alt="Super Mario Brothers" >
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 top-images" src={% static '/Art/Assets/Carasoul/GhostOfTshumia.jpg' %} alt="Ghost of Tshushima" >
            </div>
        </div>
        <div class = "left-section-carousel"></div>
    </div>

    <div class = "section-header">
        <h2>All Art</h2>
    </div>

    {%  for drawing in Drawings %}
        <div class="card card-main" style="width: 18rem;">
            <img src="{% static drawing.image %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ drawing.title }}  </h5>
                <p class="card-text">{{ drawing.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ drawing.creator}}</li>
                <li class="list-group-item">${{ drawing.Price}}</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    {% endfor %}
{% endblock content %}