{%  extends "Art/base.html" %}
{% load static %}
{% load django_template_maths %}

{% block content %}
    <body >
      <div class="container py-5 text-white jumbotron-image shadow " style="background-image: url(https://t3.ftcdn.net/jpg/03/23/88/08/360_F_323880864_TPsH5ropjEBo1ViILJmcFHJqsBzorxUB.jpg);margin-top: 30px">
        <div class="jumbotron jumbotron-fluid text-white jumbotron-image shadow" style="background-image: url(https://t3.ftcdn.net/jpg/03/23/88/08/360_F_323880864_TPsH5ropjEBo1ViILJmcFHJqsBzorxUB.jpg);text-align: center">
          <h2 class="mb-4">
            Gamer's Artspace
          </h2>
          <p class="mb-4">
            A platform to release gaming related art.
          </p>
        </div>
      </div>
    </body>


    <div class = "section-header">
        <h2 id = "AllArt">All Art</h2>
    </div>

    <div class = "card-container">
    {%  for drawing in Drawings %}
            <div class="card card-main" style="width: 18rem;">
                <img src="{{ drawing.image.url }}" class="card-img-top" alt="artwork image">
                <div class="card-body adding-card-color">
                    <a class="card-title title-link" href = "{% url 'artwork-visual' drawing.id %}">{{ drawing.title }}  </a>
                    <p class="card-text">{{ drawing.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item adding-card-color">{{ drawing.creator}}</li>
                    <li class="list-group-item adding-card-color">${{ drawing.Price}}</li>
                </ul>
                <div class="card-body adding-card-color">
                    <a href="{% url 'artwork-detail' drawing.id %}" class="card-link">Buy</a>
                    <a href="mailto:{{ drawing.creator_email }}" class="card-link">Creator's E-mail</a>
                </div>
            </div>
    {% endfor %}
    </div>

    <div class = "section-header">
        <h2 id = "NewArt">This Week Art</h2>
    </div>

    <div class = "card-container">
    {%  for drawing in Drawings %}
      {% if 'week' not in drawing.date_posted|timesince    %}
            <div class="card card-main" style="width: 18rem;">
                <img src="{{ drawing.image.url }}" class="card-img-top" alt="artwork image">
                <div class="card-body adding-card-color">
                    <a class="card-title title-link" href = "{% url 'artwork-visual' drawing.id %}">{{ drawing.title }}  </a>
                    <p class="card-text">{{ drawing.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item adding-card-color">{{ drawing.creator}}</li>
                    <li class="list-group-item adding-card-color">${{ drawing.Price}}</li>
                </ul>
                <div class="card-body adding-card-color">
                    <a href="{% url 'artwork-detail' drawing.id %}" class="card-link">Buy</a>
                    <a href="mailto:{{ drawing.creator_email }}" class="card-link">Creator's E-mail</a>
                </div>
            </div>
      {% endif %}
    {% endfor %}
    </div>

    <div class = "section-header">
        <h2 id = "PopArt">Popular Art</h2>
    </div>

    <div class = "card-container">
    {%  for drawing in Drawings %}
      {% if drawing.Price > 50 %}
            <div class="card card-main" style="width: 18rem;">
                <img src="{{ drawing.image.url }}" class="card-img-top" alt="artwork image">
                <div class="card-body adding-card-color">
                    <a class="card-title title-link" href = "{% url 'artwork-visual' drawing.id %}">{{ drawing.title }}  </a>
                    <p class="card-text">{{ drawing.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item adding-card-color">{{ drawing.creator}}</li>
                    <li class="list-group-item adding-card-color">${{ drawing.Price}}</li>
                </ul>
                <div class="card-body adding-card-color">
                    <a href="{% url 'artwork-detail' drawing.id %}" class="card-link">Buy</a>
                    <a href="mailto:{{ drawing.creator_email }}" class="card-link">Creator's E-mail</a>
                </div>
            </div>
      {% endif %}
    {% endfor %}
    </div>

    <div class = "outside-footer-container">
        <!-- Footer -->
    <footer class="bg-dark text-center text-white footer-container">
      <!-- Grid container -->
      <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/tahmeem.mahedi/" target="_blank" role="button"
            ><i class="fa fa-facebook-f"></i
          ></a>

          <!-- Instagram -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/tahmeem_mahedi/" target="_blank" role="button"
            ><i class="fa fa-instagram"></i
          ></a>

          <!-- Linkedin -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/tahmeem-mahedi-682b78174/" target="_blank" role="button"
            ><i class="fa fa-linkedin"></i
          ></a>

          <!-- Github -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Tahmeem" target="_blank" role="button"
            ><i class="fa fa-github"></i
          ></a>
        </section>
        <!-- Section: Social media -->

        <!-- Section: Form -->
        <section class="">
          <form action="">
            <!--Grid row-->
            <div class="row d-flex justify-content-center">
              <!--Grid column-->
              <div class="col-auto">
                <p class="pt-2">
                  <strong>Sign up to receive deals and weeks most popular artwork </strong>
                </p>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-5 col-12">
                <!-- Email input -->
                <div class="form-outline form-white mb-4">
                  <input type="email" id="form5Example2" class="form-control" placeholder="Email address"/>
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-auto">
                <!-- Submit button -->
                <button type="submit" class="btn btn-outline-light mb-4">
                  Subscribe
                </button>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </form>
        </section>
        <!-- Section: Form -->

        <!-- Section: Text -->
        <section class="mb-4">
          <p>
            This website is made purely for educational use. None of the products in the site are actually for sale.
          </p>
        </section>
        <!-- Section: Text -->
      </div>
      <!-- Grid container -->
    </footer>
    </div>
    <!-- Footer -->
{% endblock content %}